*.swp
Makefile
autom4te.cache
config.log
config.status
configure
*.so
*.o
core
core.*
pkgIndex.tcl
configure~
Makefile.teabase
subprojects/hedley-*
subprojects/packagecache
subprojects/.wraplock
/.cache
